* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    box-shadow: 3px 3px 5px 6px #1d1b1b4b;
}

 .logo {
    color: #ff7300;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
  }

body {
    padding-top: 80px;
}


form {
  display: flex;
  align-items: center;
}


#barra-pesquisa {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; 
  outline: none; 
}


button[type="submit"] {
  padding:6px 14px;
  font-size: 16px;
  background-color: #ff9100;
  color: white;
  border: 1px solid #ff9100;
  border-radius: 0 4px 4px 0; 
  cursor: pointer; 
}


button[type="submit"]:hover {
  background-color: #0056b3;
}

.menu {
    display: flex;
}

.menu a {
    color: black;
    font-size: 17px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
}

.menu a:hover {
    color: #FF9800;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons i {
    margin-right: 20px;
    color: black;
    font-size: 25px;
    font-weight: 400;
    transition: all 0.42s ease;
}
#menu-icon {
    font-size: 35px;
    color: black;
    z-index: 1001;
    cursor: pointer;
}

.icons a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: #fcb715;
}